html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: helvetica, sans-serif;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
	float: left;
	flex: 50%;
	width: 50%;
	padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
	content: "";
	clear: both;
	display: table;
  }

  .row {
	display: flex;
  }

  .container1 {
	display: flex;
	align-items: left;
	justify-content: left
  }
  
  .text1 {
	padding-left: 20px;
  }

  .container2 {
	display: flex;
	align-items: right;
	justify-content: right
  }
  
  .text2 {
	padding-right: 20px;
  }

  img {
	width: 100%
  }
  
  .image {
	flex-basis: 60%
  }
  
html, body {
  height: 100%;
  width: 100%;
  padding: 0px 0px;
  margin: 0px auto 25px auto;
  /* background: url(projects.pics/background.png) center center fixed no-repeat;
	background-size: cover;
	background-position: center; */
}

.center {
    width: 850px;
	padding: 2%;
    margin: 100px auto;
 	/* background: #ffffff;
	opacity: .65; */
	text-align: left;
}

   
#logo {
    margin-bottom: 16px;
	text-align: center;
}

h1 {
	font-family: helvetica, sans-serif;
	font-weight: 500;
	font-style: bold;
	font-size: 3.1em;
	text-align: center;
    line-height: 1.4;
    color: black;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

h2 {
	font-family: helvetica, sans-serif;
	font-weight: 300;
	font-style: normal;	
	font-size: 2.0em;
	text-align: left;
    line-height: 1.6;
    color: black;
}

p {
	font-family: helvetica, sans-serif;
	font-weight: 200;
	font-style: normal;	
	font-size: 1.1em;
	text-align: left;
    line-height: 1.6;
    color: black;
}

.bolded { font-weight: bold; }

.italic { font-style: italic; }

code {
	font-family: Consolas,"courier new";
	color: black;
	border: #333;
	/* background-color: #3498db; */
	padding: 3px;
	font-size: 100%;
}

.noter {
	font-family: helvetica, sans-serif;
	font-weight: 220;
	font-style: normal;	
	font-size: 1.1em;
	background-color: #f0f7fb;
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border-left: solid 6px #d54242;
	line-height: 20px;
	overflow: hidden;
	padding: 16px 20px;
}
.noteb {
	font-family: helvetica, sans-serif;
	font-weight: 220;
	font-style: normal;	
	font-size: 1.1em;
	background-color: #f0f7fb;
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border-left: solid 6px #3498db;
	line-height: 20px;
	overflow: hidden;
	padding: 16px 20px;
}
.noteg {
	font-family: helvetica, sans-serif;
	font-weight: 220;
	font-style: normal;	
	font-size: 1.1em;
	background-color: #f0f7fb;
	background-position: 9px 0px;
	background-repeat: no-repeat;
	border-left: solid 6px #1ccd60;
	line-height: 20px;
	overflow: hidden;
	padding: 16px 20px;
}
nav{
	font-family: helvetica, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1.2em;
    line-height: 1.2;
    color: black;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
	border: solid black;
	border-width: 1px 0;
	text-align: center;
	margin-top: 2em;
}  

nav li{
	display: inline;

}

nav a{
	display: inline-block;
	padding: 10px;
}

a{
	color: #3498db;
	text-decoration: none;
	font-weight: normal;
}
table{
	font-family: helvetica, sans-serif;
	font-weight: 200;
	font-style: normal;	
	font-size: 1.1em;
	text-align: left;
    line-height: 1.6;
    color: black;
	border: 1px solid;
	width: 100%;
}
td{
	border: 1px solid;
	height: 30px;
	padding: 5px;
}
tr{
	border: 1px solid;
	height: 30px;
	padding: 5px;
}
a:hover{
	color:black;
	background: white;
}
  
  .topnav {
	background-color: black;
	overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	float: left;
	background-color: black;
	color: #ffffff;
	text-align: center;
	font-family: helvetica, sans-serif;
	font-size: 1.6em;
	padding: 17px 17px;
	text-decoration: none;
	font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: #3498db;
	color: #ffffff;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
	background-color: #3498db;
	color: white;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	background-color: black;
	font-family: helvetica, sans-serif;
	font-weight: 300;
	font-style: normal;	
	font-size: 1.6em;
	text-align: left;
    line-height: 1.6;
    color: #ffffff;
	cursor: pointer;
	padding: 10px;
	width: 100%;
	text-align: left;
	border: solid;
	border-color: #ffffff;
	border-width: 0.25;
	transition: 0.6s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
	background-color: #3498db;
	color: #ffffff;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
	padding: 18px;
	background-color: #ffffff;
	display: none;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.6s ease-out;
  }
  .accordion:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 26px;
	color: #ffffff;
	float: right;
	margin-left: 0px;
  }
  
  .active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
  }